{% extends "base/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="card mb-4">
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">{% trans "Sign Out" %}</h6>
	</div>
	<div class="card-body">
		<p>{% trans 'Are you sure you want to sign out?' %}</p>
		<form method="POST" action="{% url 'account_logout' %}" class="user">
			{% csrf_token %}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			{% endif %}
			<button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
		</form>
	</div>
</div>

{% endblock %}
