{% load static %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/ruang-admin.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>

<!-- Page level custom scripts -->
<script>
	document.body.addEventListener('configRequest.htmx', (e) => {
		e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
	})

	function copy_to_clipboard_account_number() {
		var copyText = document.getElementById("copy_text_account_number");

		copyText.select();
		copyText.setSelectionRange(0, 99999);
		navigator.clipboard.writeText(copyText.value);

		var copy_text = document.getElementById("copy_account_number").innerHTML;
		document.getElementById("copy_account_number").innerHTML = copy_text.replace("Copy", "Copied");
		function reset() {
			var reset = document.getElementById("copy_account_number").innerHTML = copy_text.replace("Copied", "Copy");
		}
		setTimeout(reset ,3000)
	}

	function copy_to_clipboard_name() {
		var copyText = document.getElementById("copy_text_name");

		copyText.select();
		copyText.setSelectionRange(0, 99999);
		navigator.clipboard.writeText(copyText.value);

		var copy_text = document.getElementById("copy_username").innerHTML;
		document.getElementById("copy_username").innerHTML = copy_text.replace("Copy", "Copied");
		function reset() {
			var reset = document.getElementById("copy_username").innerHTML = copy_text.replace("Copied", "Copy");
		}
		setTimeout(reset ,3000)
	}

	$(document).ready(function () {
		$('#accepted').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[2, 'desc']]
		});
		$('#requested').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[2, 'desc']]
		});
		$('#rejected').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[2, 'desc']]
		});
		$('#statement_list').DataTable({
			"lengthMenu": [25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 6 }
			],
				order: [[0, 'desc']]
		});
		$('#interest_statement_list').DataTable({
			"lengthMenu": [5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[0, 'desc']]
		});
		$('#previous_user_list').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 3 }
			],
				order: [[2, 'desc']]
		});
		$('#loan_request').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[2, 'desc']]
		});
		$('#loan_updated_request').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: 5 }
			],
				order: [[2, 'desc']]
		});
		$('#loan_history').DataTable({
			"lengthMenu": [ 5, 25, 50, 75, 100 ],
			columnDefs: [
				{ orderable: false, targets: [5, 6] }
			],
				order: [[4, 'desc']]
		});
		$('#social_account').DataTable({
			searching: false,
			paging: false,
			ordering: false,
		});
		$('#email_account').DataTable({
			searching: false,
			paging: false,
			ordering: false,
		});
	});
</script>