{% extends 'base/base.html' %}
{% load humanize %}
{% block title %}Notification{% endblock %}

{% block content %}

<div class="row">

	{% if loan_requested or update_request %}
		{% if loan_requested %}
		<!-- Loan Request -->
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Loan Request</h6>
				</div>
				<div class="table-responsive p-3">
					<table class="table align-items-center table-flush table-hover" id="loan_request">
						<thead class="thead-light">
							<tr>
								<th>Money Lender</th>
								<th>Amount (BDT)</th>
								<th>Requested Date</th>
								<th>Return Date</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Total</th>
								<th>{{ loan_requested_total|intcomma }}</th>
								<th>Requested Date</th>
								<th>Return Date</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</tfoot>
						<tbody>
							{% for i in loan_requested %}
							<tr>
								<td>
									<a href="">{{ i.user|title }}</a>
								</td>
								<td>{{ i.amount|intcomma }}</td>
								<td>{{ i.created|date:"M d, Y" }}</td>
								<td>{{ i.return_date|date:"M d, Y" }}</td>
								<td>{{ i.status }}</td>
								<td>
									<a href="{% url 'notification_approve' i.form_id%}" class="btn btn-success btn-sm">
										<i class="fas fa-check"></i>
									</a>
									<a href="{% url 'notification_deny' i.form_id %}" class="btn btn-danger btn-sm">
										<i class="fas fa-times"></i>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% endif %}

		{% if update_request %}
		<!-- Loan Update Request -->
		<div class="col-lg-12">
			<div class="card mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Loan Update Request</h6>
				</div>
				<div class="table-responsive p-3">
					<table class="table align-items-center table-flush table-hover" id="loan_updated_request">
						<thead class="thead-light">
							<tr>
								<th>Money Lender</th>
								<th>Amount (BDT)</th>
								<th>Requested Date</th>
								<th>Return Date</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Total</th>
								<th>{{ update_request_total|intcomma }}</th>
								<th>Requested Date</th>
								<th>Return Date</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</tfoot>
						<tbody>
							{% for i in update_request %}
							<tr>
								<td>
									<a href="{% url 'show_profile' i.user.account_number %}">{{ i.user|title }}</a>
								</td>
								<td>{{ i.amount|intcomma }}</td>
								<td>{{ i.created|date:"M d, Y" }}</td>
								<td>{{ i.return_date|date:"M d, Y" }}</td>
								<td>{{ i.status }}</td>
								<td>
									<a href="{% url 'request_for_update_approve' i.form_id %}" class="btn btn-success btn-sm">
										<i class="fas fa-check"></i>
									</a>
									<a href="{% url 'request_for_update_deny' i.form_id %}" class="btn btn-danger btn-sm">
										<i class="fas fa-times"></i>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		{% endif %}

	{% else %}
	<div class="col-lg-12">
		<div class="card mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">No new notification</h6>
			</div>
			<div class="card-body"></div>
		</div>
	</div>
	{% endif %}

	{% if history %}
	<div class="col-lg-12">
		<div class="card mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Loan History</h6>
			</div>
			<div class="table-responsive p-3">
				<table class="table align-items-center table-flush table-hover" id="loan_history">
					<thead class="thead-light">
						<tr>
							<th>User</th>
							<th>Amount (BDT)</th>
							<th>Requested Date</th>
							<th>Return Date</th>
							<th>Updated</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>User</th>
							<th>Amount (BDT)</th>
							<th>Requested Date</th>
							<th>Return Date</th>
							<th>Updated</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</tfoot>
					<tbody>
						{% for i in history %}
							{% if request.user == i.loan_user.user %}
							<tr>
								<td>
									<a href="{% url 'show_profile' i.loan_user.money_lender.account_number %}">{{ i.loan_user.money_lender|title }}</a>
								</td>
								<td>{{ i.loan_user.amount|intcomma }}</td>
								<td>{{ i.loan_user.created|date:"M d, Y" }}</td>
								<td>{{ i.loan_user.return_date|date:"M d, Y" }}</td>
								<td>{{ i.updated }}</td>
								<td>
									{% if i.status == 'Accepted' and i.editable == 'Not Applied' %}
									<span class="badge badge-success p-2">Loan Request Accepted</span>
									{% elif i.status == 'Accepted' and i.editable == 'Approved' %}
									<span class="badge badge-success p-2">Loan Edit Request Accepted</span>
									{% elif i.status == 'Accepted' and i.editable == 'Not Approved' %}
									<span class="badge badge-danger p-2">Loan Edit Request Rejected</span>
									{% elif i.status == 'Accepted' and i.editable == 'Updated' %}
									<span class="badge badge-success p-2">Loan Updated</span>
									{% elif i.status == 'Rejected' and i.editable == 'Not Applied' %}
									<span class="badge badge-danger p-2">Loan Request Rejected</span>
									{% endif %}
								</td>
								<td>
									{% if i.mark_as_read %}
									<span class="badge badge-primary p-2">Marked as read</span>
									{% else %}
									<a href="{% url 'mark_as_read' i.form_id %}" class="btn btn-danger">Mark as read</a>
									{% endif %}
								</td>
							</tr>
							{% elif request.user == i.loan_user.money_lender %}
							<tr>
								<td>
									<a href="{% url 'show_profile' i.loan_user.user.account_number %}">{{ i.loan_user.user|title }}</a>
								</td>
								<td>{{ i.loan_user.amount|intcomma }}</td>
								<td>{{ i.loan_user.created|date:"M d, Y" }}</td>
								<td>{{ i.loan_user.return_date|date:"M d, Y" }}</td>
								<td>{{ i.updated }}</td>
								<td>
									{% if i.status == 'Accepted' and i.editable == 'Not Applied' %}
									<span class="badge badge-success p-2">Loan Request Accepted</span>
									{% elif i.status == 'Accepted' and i.editable == 'Approved' %}
									<span class="badge badge-success p-2">Loan Edit Request Accepted</span>
									{% elif i.status == 'Accepted' and i.editable == 'Not Approved' %}
									<span class="badge badge-danger p-2">Loan Edit Request Rejected</span>
									{% elif i.status == 'Accepted' and i.editable == 'Updated' %}
									<span class="badge badge-success p-2">Loan Updated</span>
									{% elif i.status == 'Rejected' and i.editable == 'Not Applied' %}
									<span class="badge badge-danger p-2">Loan Request Rejected</span>
									{% endif %}
								</td>
								<td>
									{% if i.mark_as_read %}
									<span class="badge badge-primary p-2">Marked as read</span>
									{% else %}
									<a href="{% url 'mark_as_read' i.form_id %}" class="btn btn-danger">Mark as read</a>
									{% endif %}
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}

</div>

{% endblock %}